.baju{
    background-color:red;
    color:rgb(238, 255, 0);
}
.baju2{
    background-color: blue;
    color: rgb(208, 255, 0);
}
a{
    background-color: green;
    color: rgb(200, 221, 224);
}